div {
  position: relative;
  display: flex;
}

button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-background-light);

  .active {
    fill: var(--color-primary);
  }
}

input {
  padding: 1rem;
  width: 5rem;
  flex: 1 0 auto;

  @media (min-width: 36rem) {
    padding: 1.25rem;
  }
}
