<!--<div *ngIf='screenSize === "lg"'>Large screen</div>-->
<div *ngIf='!moviesService.isLoading; else spinner'>
  <div *ngIf='!moviesService.error; else errorMessage' class='movie__grid-container'>
    <app-movie-card
      *ngFor='let movie of moviesService.movies'
      [movie]='movie'
    ></app-movie-card>
  </div>
  <ng-template #errorMessage>
    <div class='error__container'>
      <p class='error'>Error: {{moviesService.error}}</p>
      <p>Return to <a [routerLink]='"/"'>Main page</a></p>
    </div>
  </ng-template>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
