<header>
  <div class='flex-container' *ngIf='screenSize !== "lg"'>
    <a [routerLink]='"/"'>
      <app-logo></app-logo>
    </a>
    <div class='flex-filler' *ngIf='screenSize === "sm"'></div>
    <app-burger-button *ngIf='screenSize === "sm"'></app-burger-button>
  </div>
  <div class='flex-container flex-filler'>
    <div class='flex-filler'>
      <app-search></app-search>
    </div>
    <app-burger-button *ngIf='screenSize === "md"'></app-burger-button>
  </div>
  <div class='auth-menu__wrapper' *ngIf='screenSize === "lg" && !authService.user'>
    <button>
      <app-svg-icon icon='user-icon'></app-svg-icon>
    </button>
    <div class='auth-menu__container'>
      <div class='auth-menu__controls'>
        <app-auth-menu [link]='loginLink' [text]='"Log In"'></app-auth-menu>
        <app-auth-menu [link]='signupLink' [text]='"Sign Up"'></app-auth-menu>
      </div>
    </div>
  </div>
  <div class='auth-menu__wrapper' *ngIf='screenSize === "lg" && authService.user'>
    <button class='auth-menu_user-creds'>
      {{userCreds | uppercase}}
    </button>
    <div class='auth-menu__container'>
      <div class='auth-menu__controls'>
        <app-auth-menu [text]='"Log Out"' (mousedown)='authService.logoutUser()'></app-auth-menu>
      </div>
    </div>
  </div>
</header>
