<header>
  <div class='flex-container' *ngIf='screenSize !== "lg"'>
    <a [routerLink]='"/"'>
      <app-logo></app-logo>
    </a>
    <div class='flex-filler' *ngIf='screenSize === "sm"'></div>
    <app-burger-button *ngIf='screenSize === "sm"'></app-burger-button>
  </div>
  <div class='flex-container flex-filler'>
    <div class='flex-filler'>
      <app-search></app-search>
    </div>
    <app-burger-button *ngIf='screenSize === "md"'></app-burger-button>
  </div>
  <button *ngIf='screenSize === "lg"'>
    <app-svg-icon icon='user-icon'></app-svg-icon>
  </button>
</header>
