header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a {
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}
