nav {
  min-height: 100%;
  width: 10rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

footer {
  font-weight: 500;
  color: var(--color-text-pale);
}

ul {
  margin-top: 3rem;
}

