<div class='card' *ngIf='movie' [routerLink]='[link, movie.kinopoiskId]'>
  <div class='card__image-wrapper'>
    <img [src]=movie.posterUrlPreview alt='poster'/>
    <div class='card__imdb' [attr.data-rating]='ratingColor'>{{rating | number: '1.1-1'}}</div>
    <div class='card__favourite' *ngIf='authService.user'>
      <app-favourite-label [id]='id'></app-favourite-label>
    </div>
  </div>
  <div class='card__info-wrapper'>
    <h5 *ngIf='movie.nameRu?.trim()'>{{movie.nameRu}}</h5>
    <h6 *ngIf='movie.nameOriginal?.trim(); else year'>{{movie.nameOriginal + ', ' + movie.year}}</h6>
    <ng-template #year><h6>{{movie.year}}</h6></ng-template>
    <div class='card__country'>{{movie.countries.length && movie.countries[0] && movie.countries[0].country + ' • ' + movie.genres.length && movie.genres[0] && movie.genres[0].genre}}</div>
  </div>
</div>
