p {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--color-text-primary);
}

span {
  font-size: 2rem;
  color: var(--color-text-primary);
}

input,
select {
  margin: 0.25rem 0;
  padding: 0.5rem;

  @media (min-width: 36rem) {
    margin: 0.5rem 0;
    padding: 0.75rem;
  }
}

hr {
  background-color: var(--color-text-primary);
  height: 1px;
  margin-bottom: 0.5rem;

  @media (min-width: 36rem) {
    margin-bottom: 1rem;
  }
}

label {
  margin-right: 0.5rem;

  @media (min-width: 36rem) {
    margin-right: 1rem;
  }
}

small {
  color: var(--color-error);
}

.form__filter-container {
  padding: 1rem 1.5rem 1rem;

  @media (min-width: 36rem) {
    padding: 2rem 2rem 2.5rem;
  }
}

.form__header-container {
  margin-bottom: 0.5rem;

  @media (min-width: 36rem) {
    margin-bottom: 1rem;
  }
}

.form__button {
  padding: 0.5rem;

  @media (min-width: 36rem) {
    padding: 0.75rem;
  }
}
