section {
  background: url('../../../assets/backgrounds/404_bg.png') no-repeat center center;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

p {
  font-size: 2rem;
  color: var(--color-text-primary);
}

a {
  color: var(--color-primary);
}
