.movie__grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 1rem;
  padding: 1rem 0;
}

.movie__empty-container {
  width: 100%;
  background: url('../../../assets/backgrounds/empty_bg.png') no-repeat center;
  background-size: contain;
  flex-grow: 1;

  @media (min-width: 36rem) {
    background-size: auto;
  }
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--color-text-primary);
}

a {
  color: var(--color-primary);
}
